
<form [formGroup]="myForm" (ngSubmit)="action()">
  <div>
    <input type="text" [formControl]="name">

    <div *ngIf="name.errors?.required" [classList]="'warning'">
      This field mustn't be low
    </div>
    <div *ngIf="name.errors?.minlength" [classList]="'warning'">
      Min length is {{name.errors?.minlength?.requiredLength}}, but current length is {{name.errors?.minlength?.actualLength}}
    </div>
    <div *ngIf="name.errors?.fuck" [classList]="'warning'">
      {{name.errors?.msg}}
    </div>
  </div>

  <div>
    <input type="number" [formControl]="age">

    <div *ngIf="age.errors?.required" [classList]="'warning'">
      This field mustn't be low
    </div>
  </div>
  <button [disabled]="myForm.invalid">save</button>
</form>
